<h1>We are your source for used bikes</h1>
<p>We buy only the best used bikes, and we sell them to you at only the best price</p>
<p>If you have a specific bike you want, we're happy to find it for you.</p>
