.product-box {
  margin-top: 75px;
}

.product-image-show {
  width: 50%;
  height: 100%;
}

.product-info {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.product-reviews .row {
  display: initial,
}

#new_comment {
  display: initial!important,
}
